{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['shop', 'shop_index'] %}

{% block title %}{{ 'admin.shop.list'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.shop.list'|trans }}{% endblock %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="d-block mb-3">
                    <a class="btn btn-ec-regular" href="{{ url('admin_shop_create') }}">
                        {{ 'admin.common.create__new'|trans }}
                    </a>
                </div>
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <span class="card-title">{{ 'admin.shop.list'|trans }}</span>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                <tr>
                                    <th class="ps-3">ID</th>
                                    <th>Shop name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                    <th>Created at</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in shops %}
                                    <tr>
                                        <td class="ps-3">{{ item.id }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.email }}</td>
                                        <td>{{ item.PhoneNumber }}</td>
                                        <td>{{ item.status ? '有効' : '無効' }}</td>
                                        <td>{{ item.createdAt|date('Y/m/d H:i') }}</td>
                                        <td class="col px-0 text-center">
                                            <a href="{{ url('admin_shop_edit', {id: item.id}) }}">
                                                <i class="fa fa-pencil fa-lg text-secondary"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <form action="{{ url('admin_shop_delete', {id: item.id}) }}" method="post" id="delete-form-{{ item.id }}" style="display: inline;">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('_token') }}">
                                                <button type="submit" class="btn btn-link p-0" onclick="return confirm('削除してもよろしいですか?')">
                                                    <i class="fa fa-close fa-lg text-secondary"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="7" class="text-center py-4 text-muted">データがありません。</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
